$('.col.subscription').html('<%= j render 'shared/subscriptions', resource: @question %>');
$('.container').prepend('<div class="alert alert-info">Question subscription successfully created.</div>');
