$('.col.subscription').html('<%= j render 'shared/subscriptions', resource: @subscription.question %>');
$('.container').prepend('<div class="alert alert-info">Question subscription successfully deleted.</div>');
