.hidden { display: none }

.delete-button {
  color: red;
  margin-left: 10px;
}

label { margin-right: 5px; }

html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 70%;
  margin-bottom: 30px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.99);
  line-height: 40px;
  text-align: center;
  background: #f8f9fa !important;
}
